html {
	font-size: 62.5%;  /* 1rem = 10px */
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial , sans-serif;
}
 /*landing page background*/
.background {
	background-image: url('assets/img/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-attachment: fixed;
	filter:brightness(0.3);
	z-index: -10;
	width: 100%;
	height: 100vh;
	position: absolute;
}

.banner {
	width: 100%;
	height: 100vh;
	z-index: 100;
}

.banner > .banner_content {
	position: relative;
	width:auto;
	height: auto;
	background-color: rgba(0,0,0,0);
	margin: 0 auto 0 auto;
	/*border: 1px solid black;*/
	padding-top: 45vh; 
	line-height: 10rem;
}

.banner > .banner_content > span > #welcome {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 7rem;
	text-transform: uppercase;
	filter: drop-shadow(.5rem .5rem .5rem #888);
}

.banner_content > hr {
	background-color: red;
	padding: 0.2rem;
	width: 10rem;
	transition: 1s;
}

.banner_content > hr:hover {
	width: 20%;
}

.banner > .banner_content > p {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 4rem;
	background-color: rgba(176, 196, 222, 0.5);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	box-shadow: 0 0 1rem lightgrey;
	transition: 1s;
}

/*.navbar-collapse {
	text-align: center;
}
*/
.banner > .banner_content > p:hover {
	transform: scale(1.2,1.2);
}

.navbar {
	font-size: 2rem;
	padding: 0.2rem 2rem;
	text-align: center;
}

.navbar > .navbar-brand > img {
	width: 50px;
	height: 50px;
	padding: 2px 2px;
}

nav > div > ul > li {
	margin-right: 2rem;
	margin-left: 2rem;
	padding:0 2rem; 
	/*width: 15rem;*/
	text-align: center;
	transition: 0.2s;
}

nav > div > ul > li:hover {
	transform: scale(1.3,1.3);
	background-color: rgba(0,0,0,0.5);
}

nav > div > ul > li:active {
	transform: scale(0.9,0.9);
}
.nav_icon {
	text-align: center;

}

.nav_icon > a > div > i {
	filter: brightness(1);
}

.nav_dropdown {
	width: 100%;
	font-size: 2rem;
	text-align: center;
}

.btn {
	margin: 2rem 1.5rem;
	/*padding: 1rem;*/
	font-size: 2rem;
	color: black;
	box-shadow: 5px 5px 20px black;
	transition: 0.2s;

}

.btn:hover {
	transform: scale(1.1,1.1);
}

.btn:active {
	transform: scale(0.9,0.9);
}

.card {
	margin: 10px 10px;
}


img {
	width:300px;
	height: 300px;
}

section:nth-child(odd) {
	background: linear-gradient(135deg, #667eea, #764ba2); /*https://digitalsynopsis.com/design/beautiful-color-gradients-backgrounds/*/ /*8. Plum Plate*/
}

section {
	padding: 20px;
}

.section1 {
	background: linear-gradient(-45deg, #f5f7fa, #c3cfe2) ; /*https://digitalsynopsis.com/design/beautiful-color-gradients-backgrounds/*/ /*7. Saint Petersburg*/
}


.section1 > div > div > div > #bottom {
	text-align: justify;
	margin: 15rem 10rem;
	line-height: 4rem;
	font-weight: bold;
	font-size: 3rem;
	font-variant-caps: small-caps;
}

.section1 > div > div > div > img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 40rem;
	margin: 10rem 0rem;
}

.section2 > div > div > .languages {
	text-align: center;
	padding:5rem;
	color: white;
}

.section2 > div > div > div {
	/*border:1px solid black;*/
	margin-left: auto;
	text-align: center;
}

.section2 > div > div > div > i {
	margin: 4rem auto;
	padding: 2rem;
	font-size: 12rem;
	/*box-shadow: 0px 0px 10px black;*/
	/*border: 1px solid;*/
	width: auto;
	height: auto;
	background-color: rgba(255,255,255,0.1);
}

.section2 > div > .languages_cards > img {
	/*box-shadow: 0px 0px 10px black;*/
}

.work_header {
	text-align: center;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 15px;
	width: 100%;
	height: 100%;
	padding:5rem ;
}
